<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Symfony Project{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/trangchu.css') }}"> <!-- Liên kết tệp CSS mới -->
        <link rel="stylesheet" href="{{ asset('css/banhang.css') }}"> <!-- Liên kết tệp CSS mới -->

</head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="{{ path('trang_chu') }}" title="Trang chủ">Hệ thống</a>
                <ul>
                    <li><a href="{{ path('danh_sach_nhan_vien') }}">Danh sách nhân viên</a></li>
                    <li><a href="{{ path('danh_sach_benh_nhan') }}">Danh sách bệnh nhân</a></li>
                    <li><a href="{{ path('dang_nhap') }}">Đăng xuất</a></li>

                </ul>
            </li>

            <li><a href="{{ path('nhap_xuat') }}" title="Giới thiệu">Nhập xuất</a>
                <ul>
                    <li><a href="{{ path('ban_hang') }}">Bán hàng</a></li>
                    <li><a href="{{ path('ban_hang_cat_lieu') }}">Bán hàng cắt liều</a></li>
                    <li><a href="{{ path('don_lieu_mau') }}" title="Sản xuất phần mềm">Đơn/Liều mẫu</a></li>
                    <li><a href="{{ path('nhap_hang') }}">Nhập hàng</a></li>
                    <li><a href="{{ path('don_dat_hang_online') }}">Đơn đặt hàng online</a></li>
                </ul>
            </li>


            <li><a href="{{ path('thu_chi') }}" title="Khóa học chuyên đề">Thu - chi</a>
                <ul>
                <li><a href="{{ path('danh_sach_phieu_nhap') }}">Danh sách phiếu nhập</a></li>
                <li><a href="{{ path('danh_sach_phieu_xuat') }}">Danh sách phiếu xuất</a></li>
                <li><a href="{{ path('lich_su_giao_dich') }}" title="Sản xuất phần mềm">Lịch sử giao dịch</a></li>
                </ul>
            </li>

            <li><a href="{{ path('hang_hoa') }}" title="Dịch vụ">Hàng hóa</a>
                <ul>
                <li><a href="{{ path('danh_sach_thuoc') }}" title="Danh sách thuốc">Danh sách thuốc</a></li>
                    <li><a href="{{ path('them_thuoc_moi') }}" title="Sản xuất phần mềm">Thêm thuốc mới</a></li>
                    <li><a href="{{ path('kiem_ke_kho') }}" title="Sản xuất phần mềm">Kiểm kê kho</a></li>
                    <li><a href="{{ path('thong_ke_doanh_thu') }}" title="Sản xuất phần mềm">Thống kê doanh thu</a></li>



                </ul>
            </li>
            <li><a href="{{ path('doi_tac') }}" title="Liện hệ">Đối tác</a></li>
            <li><a href="{{ path('bao_cao') }}" title="Liện hệ">Báo cáo</a></li>
            <li><a href="{{ path('tien_ich') }}" title="Liện hệ">Tiện ích</a></li>
            <li><a href="{{ path('tro_giup') }}" title="Liện hệ">Trợ giúp</a></li>
        </ul>
    </nav>
    </header>

       <div class="nhaphang">
    <h1>Thêm đơn hàng</h1>
        <div class="formnhaphang">

       
           
                 <div class="container">
                    <div class="product-table">
                        <h2>Danh sách sản phẩm</h2>
                        <table id="productTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên Thuốc</th>
                                <th>Công Dụng</th>
                                <th>Giá Bán</th>
                                <th>Số Lượng Còn</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php 
                                $conn = mysqli_connect($servername, $username, $password, $dbname);
                                $sql = "SELECT * FROM Thuoc";
                                $rs = mysqli_query($conn, $sql);
                                
                                while ($row = mysqli_fetch_array($rs)) {
                            ?>
                            <tr>
                                <td><?php echo $row['idThuoc'] ?></td>
                                <td><?php echo $row['TenThuoc'] ?></td>
                                <td><?php echo $row['CongDung'] ?></td>
                                <td><?php echo $row['GiaBan'] ?></td>
                                <td class="quantity-cell"><?php echo $row['SoLuong']; ?></td>
                                <td>
                                <button onclick="addProduct('<?php echo $row['idThuoc'] ?>', '<?php echo $row['TenThuoc'] ?>', productCounter, '<?php echo $row['GiaBan'] ?>')">Thêm</button>
                                </td>
                            </tr>
                            <?php
                                }
                                mysqli_close($conn);
                            ?>
                            </tbody>
                            <script src="./js/banhang.js"></script>

                        </table>
                        </div>

                    


                    <div class="selected-products-table">
                        <h2>Các sản phẩm đã chọn</h2>
                        <table id="selectedProductsTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên Thuốc</th>
                                    <th>Số Lượng</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Các dòng sản phẩm đã chọn sẽ được thêm theo JavaScript -->
                            </tbody>
                        </table>

                        <div class="thanhtoan">
                            <p>Tổng tiền:</p>
                            <div id="totalPrice"></div>
                            <button onclick="openModal()">Tạo đơn</button>
                        </div>

                        <div id="myModal" class="modal">
                        <div class="modal-content">
                          <span class="close" onclick="closeModal()">&times;</span>
                          <form id="myForm" action="action/dobanhang.php" method="post">
                            <!-- Các trường dữ liệu khác -->
                            <h1>THÔNG TIN KHÁCH HÀNG</h1> <br><br><br><br><br>
                            <div class="selected-products">
                              <input type="hidden" name="TongTienHD" value="">

                              <label for="ma-benh-nhan">Mã bệnh nhân</label>
                              <input type="number" id="ma-benh-nhan" name="MaBN"><br><br>

                              <label for="ho-ten">Họ tên</label>
                              <input type="text" id="ho-ten" name="HoTen"><br><br>

                              <label for="so-dien-thoai">Số điện thoại</label>
                              <input type="number" id="so-dien-thoai" name="DienThoai"><br><br>

                              <label for="ghi-chu">Ghi chú</label>
                              <input type="text" id="ghi-chu" name="GhiChu"><br><br>

                              <label for="ngay-lap">Ngày lập</label>
                              <input type="date" id="ngay-lap" name="NgayLap" value="<?php echo date('Y-m-d'); ?>"><br><br>
                            </div>
                            <input type="submit" value="Submit">
                          </form>
                        </div>
                      </div>

                      <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="paymentModalLabel">Chọn phương thức thanh toán</h5> <br><br>
                            </div>
                            <div class="modal-body">
                              <button id="cashButton" name="redirect" class="btn btn-primary" onclick="window.location.href = 'banhang.php'">Thanh toán bằng tiền mặt</button>
                              <form action="action/thanhtoanmomo.php" method="post">
                              <button id="momoButton" name="redirect" class="btn btn-primary" onclick="payByMomo()" style="margin-left: -20px;">Thanh toán bằng Momo</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>





    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
