{% extends 'base.html.twig' %}

{% block title %}Danh sách khách hàng{% endblock %}

{% block body %}

<div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">Danh sách khách hàng</h3>
                                               
                                            </div>
                                            <div class="nk-block-head-content">
                                                <a href="{{ path('them_khach_hang') }}" class="btn btn-icon btn-primary d-md-none">
                                                    <em class="icon ni ni-plus"></em>
                                                </a>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                    <div class="nk-block-head-content">
    <div class="nk-block-between-md g-4">
        <!-- ... các phần khác ... -->
        <div class="nk-block-head-content">
            <div class="toggle-wrap nk-block-tools-toggle">
                <button class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu">
                    <em class="icon ni ni-search"></em>
                </button>
            </div>
            <div class="nk-block-tools" id="pageMenu">
                <div class="nk-search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm theo tên khách hàng" id="searchCustomerInput">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                                        <div class="card card-bordered card-stretch">
                                            <div class="card-inner-group">
                                          
                                                <div class="card-inner p-0">
                                                    <div class="nk-tb-list nk-tb-ulist">
                                                        <div class="nk-tb-item nk-tb-head">
                                                            <div class="nk-tb-col nk-tb-col-check">
                                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                                    <input type="checkbox" class="custom-control-input" id="uid">
                                                                    <label class="custom-control-label" for="uid"></label>
                                                                </div>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="sub-text">Khách hàng</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span class="sub-text">ID</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span class="sub-text">Số điện thoại</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-xxl">
                                                                <span class="sub-text">Địa chỉ</span>
                                                            </div>
                                                            {# <div class="nk-tb-col tb-col-lg">
                                                                <span class="sub-text">Chi tiết mua hàng</span>
                                                            </div> #}
                                                            {# <div class="nk-tb-col tb-col-sm">
                                                                <span class="sub-text">Số tiền</span>
                                                            </div> #}
                                                            {# <div class="nk-tb-col tb-col-md">
                                                                <span class="sub-text">Trạng thái</span>
                                                            </div> #}
                                                            <div class="nk-tb-col nk-tb-col-tools">
                                                                <ul class="nk-tb-actions gx-1 my-n1">
                                                                    <li>
                                                                        <div class="drodown">
                                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger me-n1" data-bs-toggle="dropdown">
                                                                                <em class="icon ni ni-more-h"></em>
                                                                            </a>
                                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                                <ul class="link-list-opt no-bdr">
                                                                                    <li>
                                                                                        <a href="#">
                                                                                            <em class="icon ni ni-mail"></em>
                                                                                            <span>Send Email to All</span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a href="#">
                                                                                            <em class="icon ni ni-edit"></em>
                                                                                            <span>Edit Selected</span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a data-bs-toggle="modal" href="#modalDelete">
                                                                                            <em class="icon ni ni-trash"></em>
                                                                                            <span>Remove Seleted</span>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        {% for row in result %}
                                                        <div class="nk-tb-item">
                                                            <div class="nk-tb-col nk-tb-col-check">
                                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                                                    <label class="custom-control-label" for="uid1"></label>
                                                                </div>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <a href="#">
                                                                    <div class="user-card">
                                                                        <div class="user-avatar bg-primary-dim">
                                                                            <span>AB</span>
                                                                        </div>
                                                                        <div class="user-info">
                                                                            <span class="tb-lead">
                                                                                {{ row.Name }} <span class="dot dot-warning d-md-none ms-1"></span>
                                                                            </span>
                                                                            <span>{{ row.Email }}</span>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <a href="#">
                                                                    <span class="fw-medium">{{ row.CustomerID}}</span>
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span>{{ row.Phone }}</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-xxl">
                                                                <span>{{ row.Address }}</span>
                                                            </div>
                                                            {# <div class="nk-tb-col tb-col-lg">
                                                                <div>
                                                                    <span>Item: Omidon10mg</span>
                                                                </div>
                                                                <div>
                                                                    <span>Quantity: 10pcs</span>
                                                                </div>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span class="tb-amount">
                                                                    78.55 <span class="currency">USD</span>
                                                                </span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span class="tb-status text-warning">Inactive</span>
                                                            </div> #}
                                                            <div class="nk-tb-col nk-tb-col-tools">
                                                                <ul class="nk-tb-actions gx-1">
                                                                    <li class="nk-tb-action-hidden">
                                                                        <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email">
                                                                            <em class="icon ni ni-mail-fill"></em>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <div class="drodown">
                                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown">
                                                                                <em class="icon ni ni-more-h"></em>
                                                                            </a>
                                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                                <ul class="link-list-opt no-bdr">
                                                                                    <li>
                                                                                        <a href="#">
                                                                                            <em class="icon ni ni-edit"></em>
                                                                                            <span>Edit</span>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li>
                                                                                        <a data-bs-toggle="modal" href="#modalDelete">
                                                                                            <em class="icon ni ni-trash"></em>
                                                                                            <span>Remove</span>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("searchCustomerInput").addEventListener("input", function () {
            var searchTerm = this.value.toLowerCase();

            // Ẩn tất cả các hàng
            var rows = document.querySelectorAll('.nk-tb-item');
            rows.forEach(function (row) {
                row.style.display = 'none';
            });

            // Hiển thị các hàng chứa tên khách hàng chứa từ khóa tìm kiếm
            var matchingRows = document.querySelectorAll('.nk-tb-item span.tb-lead');
            matchingRows.forEach(function (matchingRow) {
                var customerName = matchingRow.textContent.toLowerCase();
                if (customerName.includes(searchTerm)) {
                    matchingRow.closest('.nk-tb-item').style.display = '';
                }
            });
        });
    });
</script>

{% endblock %}
