{% extends 'base.html.twig' %}

{% block title %}Báo cáo bán hàng{% endblock %}

{% block body %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Báo cáo bán hàng</h3>
                        <div class="nk-block-des text-soft">
                            <p>Báo cáo tháng này</p>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-xxl-6 col-md-6">
                            <div class="card h-100">
                                <div class="nk-ecwg nk-ecwg1">
                                    <div class="card-inner">
                                        <div class="card-title-group">
                                            <div class="card-title">
                                                <h6 class="title">Tổng tiền thu được</h6>
                                            </div>
                                            <div class="card-tools">
                                                <a href="#" class="link">View Report</a>
                                            </div>
                                        </div>
                                        <div class="data">
                                            <div class="amount">${{ totalAmount }}</div>
                                            <div class="info">
                                                <strong>${{ lastMonthAmount }}</strong>
                                                in last month
                                            </div>
                                        </div>
                                        <div class="data">
                                            <h6 class="sub-title">This week so far</h6>
                                            <div class="data-group">

                                            <div class="amount">
                                            {% if weeklySales is iterable %}
                                                ${{ weeklySales.weeklyAmount }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        
                                            </div>
                                                 <div class="info text-right">
                                                    <span class="change up text-danger">
                                                        <em class="icon ni ni-arrow-long-up"></em>
                                                        {{ weeklySales is iterable ? weeklySales.numberOfInvoices ~ '%' : 'N/A' }}
                                                    </span>
                                                    <br>
                                                    <span>vs. last week</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-ecwg1-ck">
                                        <canvas class="ecommerce-line-chart-s1" id="totalSales"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-md-6">
                            <div class="card card-full">
                                <div class="card-inner d-flex flex-column h-100">
                                    <div class="card-title-group mb-3">
                                        <div class="card-title">
                                            <h6 class="title">Thuốc bán chạy nhất</h6>
                                            <p>Trong 30 ngày gần đây</p>
                                        </div>
                                  
                                    </div>
                                    <div class="progress-list gy-3">
                                        <div class="progress-wrap">
                                            <div class="progress-text">
                                                <div class="progress-label">{{ bestSellingMedicine.Name ?? 0 }}</div>
                                                <div class="progress-amount">{{ bestSellingMedicine.totalQuantity ?? 0 }}%</div>
                                            </div>
                                            <div class="progress progress-md">
                                                <div class="progress-bar" data-progress="{{ bestSellingMedicine.totalQuantity ?? 0 }}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12">
                            <div class="nk-block">
                                <div class="card card-bordered card-stretch">
                                    <div class="card-inner-group">
                                        <div class="card-inner position-relative card-tools-toggle">
                                            <div class="card-title-group">
                                            <form method="get" action="{{ path('baocaobanhang') }}">
                                        <label for="month">Tháng:</label>
                                        <select name="month" id="month">
                                            <option value="1">Tháng 1</option>
                                            <option value="2">Tháng 2</option>
                                            <option value="3">Tháng 3</option>
                                            <option value="4">Tháng 4</option>
                                            <option value="5">Tháng 5</option>
                                            <option value="6">Tháng 6</option>
                                            <option value="7">Tháng 7</option>
                                            <option value="8">Tháng 8</option>
                                            <option value="9">Tháng 9</option>
                                            <option value="10">Tháng 10</option>
                                            <option value="11">Tháng 11</option>
                                            <option value="12">Tháng 12</option>
                                        </select>
                                    
                                        <label for="year">Năm:</label>
                                        <select name="year" id="year">
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <!-- Thêm các năm khác cần thiết -->
                                        </select>
                                    
                                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                    </form>
                                                <div class="card-tools me-n1">
                                                    <ul class="btn-toolbar gx-1">
                                                        <li>
                                                            <a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search">
                                                                <em class="icon ni ni-search"></em>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="card-search search-wrap" data-search="search">
                                                    <div class="card-body">
                                                        <div class="search-content">
                                                            <a href="#" class="search-back btn btn-icon toggle-search" data-target="search">
                                                                <em class="icon ni ni-arrow-left"></em>
                                                            </a>
                                                            <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by name">
                                                            <button class="search-submit btn btn-icon">
                                                                <em class="icon ni ni-search"></em>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-search search-wrap" data-search="search">
                                                <div class="card-body">
                                                    <div class="search-content">
                                                        <a href="#" class="search-back btn btn-icon toggle-search" data-target="search">
                                                            <em class="icon ni ni-arrow-left"></em>
                                                        </a>
                                                        <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by name">
                                                        <button class="search-submit btn btn-icon">
                                                            <em class="icon ni ni-search"></em>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-inner p-0">
                                            <div class="nk-tb-list nk-tb-ulist">
                                                <div class="nk-tb-item nk-tb-head">
                                                    <div class="nk-tb-col nk-tb-col-check">
                                                        <div class="custom-control custom-control-sm custom-checkbox notext">
                                                            <input type="checkbox" class="custom-control-input" id="uid">
                                                            <label class="custom-control-label" for="uid"></label>
                                                        </div>
                                                    </div>
                                                    <div class="nk-tb-col">
                                                        <span>Tên thuốc</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-md">
                                                        <span class="sub-text">Tổng tiền</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg">
                                                        <span class="sub-text">Danh mục</span>
                                                    </div>
                                                    <div class="nk-tb-col">
                                                        <span>Số lượng bán</span>
                                                    </div>
                                                </div>
                                                {% for product in soldProducts %}
                                                    <div class="nk-tb-item">
                                                        <div class="nk-tb-col nk-tb-col-check">
                                                            <div class="custom-control custom-control-sm custom-checkbox notext">
                                                                <input type="checkbox" class="custom-control-input" id="uid{{ loop.index }}">
                                                                <label class="custom-control-label" for="uid{{ loop.index }}"></label>
                                                            </div>
                                                        </div>
                                                        <div class="nk-tb-col">
                                                            <a href="/demo7/pharmacy/medicine-details.html">
                                                                <span class="tb-product">
                                                                    <span class="title">{{ product.productName }}</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-md">
                                                            <span class="tb-amount">
                                                                {{ product.totalAmount }} <span class="currency">VNĐ</span>
                                                            </span>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-lg">
                                                            <span>{{ product.productCategory }}</span>
                                                        </div>
                                                        <div class="nk-tb-col">
                                                            <span>{{ product.totalQuantity }}</span>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="card-inner">
                                            <ul class="pagination justify-content-center justify-content-md-start">
                                                <li class="page-item">
                                                    <a class="page-link" href="#">Prev</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <span class="page-link">
                                                        <em class="icon ni ni-more-h"></em>
                                                    </span>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">6</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">7</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

