{% extends 'baselog.html.twig' %}

{% block title %}Đăng Nhập{% endblock %}



{% block body %}

  <body class="nk-body ui-rounder npc-default pg-auth">
        <div class="nk-app-root">
            <div class="nk-main ">
                <div class="nk-wrap nk-wrap-nosidebar">
                    <div class="nk-content ">
                        <div class="nk-split nk-split-page nk-split-lg">
                            <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                                <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                    <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo">
                                        <em class="icon ni ni-info"></em>
                                    </a>
                                </div>
                                <div class="nk-block nk-block-middle nk-auth-body">
                                    <div class="brand-logo pb-5">
                                        <a href="" class="logo-link">
                                           <img class="logo-light logo-img logo-img-lg" src="{{ asset('images/logo.png') }}" srcset="{{ asset('images/logo.png') }} 2x" alt="logo">
                                            <img class "logo-dark logo-img logo-img-lg" src="{{ asset('images/logo.png') }}" srcset="{{ asset('images/logo.png') }} 2x" alt="logo-dark">
                                 </a>
                                    </div>
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">Đăng nhập</h5>
                                            <div class="nk-block-des">
                                                <p>Đăng nhập bằng tài khoản và mật khẩu</p>
                                            </div>
                                        </div>
                                    </div>


                                <form action="{{ path('dang_nhap') }}" class="form-validate is-alter" autocomplete="off" method="post">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="email-address">Email hoặc Tài khoản</label>
                                            <a class="link link-primary link-sm" tabindex="-1" href="#">Need Help?</a>
                                        </div>
                                        <div class="form-control-wrap">
                                            <input autocomplete="off" type="text" class="form-control form-control-lg" required id="email-address" name="_username" value="{{ last_username }}" placeholder="Enter your email address or username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="password">Mật khẩu</label>
                                            <a class="link link-primary link-sm" tabindex="-1" href="{{ path('reset_mat_khau') }}">Quên mật khẩu</a>
                                        </div>
                                        <div class="form-control-wrap">
                                            <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input autocomplete="new-password" type="password" class="form-control form-control-lg" required id="password" name="_password" placeholder="Nhập mật khẩu">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block">Đăng nhập</button>
                                    </div>
                                </form>
                                


                                 <div class="form-note-s2 pt-4">
                                     Bạn chưa có tài khoản ? <a href="{{ path('dang_ky') }}">Tạo tài khoản</a>
                                </div> 
                            </div>
                            
                              
                            </div>
                            <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-toggle-body="true" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                                <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                                    <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                                        <div class="slider-item">
                                            <div class="nk-feature nk-feature-center">
                                                <div class="nk-feature-img">
                                                    <img class="round" src="/demo7/images/slides/promo-a.png" srcset="/demo7/images/slides/promo-a2x.png 2x" alt="">
                                                </div>
                                                <div class="nk-feature-content py-4 p-sm-5">
                                                    <h4>Dashlite</h4>
                                                    <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-item">
                                            <div class="nk-feature nk-feature-center">
                                                <div class="nk-feature-img">
                                                    <img class="round" src="/demo7/images/slides/promo-b.png" srcset="/demo7/images/slides/promo-b2x.png 2x" alt="">
                                                </div>
                                                <div class="nk-feature-content py-4 p-sm-5">
                                                    <h4>Dashlite</h4>
                                                    <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-item">
                                            <div class="nk-feature nk-feature-center">
                                                <div class="nk-feature-img">
                                                    <img class="round" src="/demo7/images/slides/promo-c.png" srcset="/demo7/images/slides/promo-c2x.png 2x" alt="">
                                                </div>
                                                <div class="nk-feature-content py-4 p-sm-5">
                                                    <h4>Dashlite</h4>
                                                    <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</html>

    
    
{% endblock %}
