<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Symfony Project{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/trangchu.css') }}"> <!-- Liên kết tệp CSS mới -->
        <link rel="stylesheet" href="{{ asset('css/kiemkekho.css') }}"> <!-- Liên kết tệp CSS mới -->

</head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="{{ path('trang_chu') }}" title="Trang chủ">Hệ thống</a>
                <ul>
                    <li><a href="{{ path('danh_sach_nhan_vien') }}">Danh sách nhân viên</a></li>
                    <li><a href="{{ path('danh_sach_benh_nhan') }}">Danh sách bệnh nhân</a></li>
                    <li><a href="{{ path('dang_nhap') }}">Đăng xuất</a></li>

                </ul>
            </li>

            <li><a href="{{ path('nhap_xuat') }}" title="Giới thiệu">Nhập xuất</a>
                <ul>
                    <li><a href="{{ path('ban_hang') }}">Bán hàng</a></li>
                    <li><a href="{{ path('ban_hang_cat_lieu') }}">Bán hàng cắt liều</a></li>
                    <li><a href="{{ path('don_lieu_mau') }}" title="Sản xuất phần mềm">Đơn/Liều mẫu</a></li>
                    <li><a href="{{ path('nhap_hang') }}">Nhập hàng</a></li>
                    <li><a href="{{ path('don_dat_hang_online') }}">Đơn đặt hàng online</a></li>
                </ul>
            </li>


            <li><a href="{{ path('thu_chi') }}" title="Khóa học chuyên đề">Thu - chi</a>
                <ul>
                <li><a href="{{ path('danh_sach_phieu_nhap') }}">Danh sách phiếu nhập</a></li>
                <li><a href="{{ path('danh_sach_phieu_xuat') }}">Danh sách phiếu xuất</a></li>
                <li><a href="{{ path('lich_su_giao_dich') }}" title="Sản xuất phần mềm">Lịch sử giao dịch</a></li>
                </ul>
            </li>

            <li><a href="{{ path('hang_hoa') }}" title="Dịch vụ">Hàng hóa</a>
                <ul>
                <li><a href="{{ path('danh_sach_thuoc') }}" title="Danh sách thuốc">Danh sách thuốc</a></li>
                    <li><a href="{{ path('them_thuoc_moi') }}" title="Sản xuất phần mềm">Thêm thuốc mới</a></li>
                    <li><a href="{{ path('kiem_ke_kho') }}" title="Sản xuất phần mềm">Kiểm kê kho</a></li>
                    <li><a href="{{ path('thong_ke_doanh_thu') }}" title="Sản xuất phần mềm">Thống kê doanh thu</a></li>



                </ul>
            </li>
            <li><a href="{{ path('doi_tac') }}" title="Liện hệ">Đối tác</a></li>
            <li><a href="{{ path('bao_cao') }}" title="Liện hệ">Báo cáo</a></li>
            <li><a href="{{ path('tien_ich') }}" title="Liện hệ">Tiện ích</a></li>
            <li><a href="{{ path('tro_giup') }}" title="Liện hệ">Trợ giúp</a></li>
        </ul>
    </nav>
    </header>

      <div class="timkiem">
                <form action="kiemkekho.php" method="post">

                    <h4>Tìm theo tháng của năm</h4> <br>

                    <select type="text" value="" name="Thang" placeholder="Chọn tháng"> <br><br>
                        <option value="1">Tháng 1</option>
                        <option value="2">Tháng 2</option>
                        <option value="3">Tháng 3</option>
                        <option value="4">Tháng 4</option>
                        <option value="5">Tháng 5</option>
                        <option value="6">Tháng 6</option>
                        <option value="7">Tháng 7</option>
                        <option value="8">Tháng 8</option>
                        <option value="9">Tháng 9</option>
                        <option value="10">Tháng 10</option>
                        <option value="11">Tháng 11</option>
                        <option value="12">Tháng 12</option>
                    </select>

                    <select type="text" value="" name="Nam" placeholder="Chọn tháng"> <br><br>
                        <option value="2021">Năm 2021</option>
                        <option value="2022">Năm 2022</option>
                        <option value="2023">Năm 2023</option>
                        <option value="2024">Năm 2024</option>
                        <option value="2025">Năm 2025</option>
                    </select>
                    
                    <input type="submit" name="submit" value="Tìm kiếm">
                </form>
            </div>
      <br>

      <div style="width: 90%; padding-left: 100px;">      
                     <canvas id="myChart" ></canvas>
            </div>

  


    <div class="container">
  <h2>Kiểm kê kho </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">ID</div>
      <div class="col col-2">Tên thuốc</div>
      <div class="col col-4">Số lượng nhập</div>
      <div class="col col-5">Số lượng xuất</div>
      <div class="col col-3">Số lượng tồn</div>
    </li>

   
   
    <li class="table-row">
      <div class="col col-1" ><?php echo $row['idThuoc'] ?></div>
      <div class="col col-2" ><?php echo $row['TenThuoc'] ?></div>
      <div class="col col-4" ><?php echo $row['TongSoLuongNhap'] ?></div>
      <div class="col col-5" ><?php echo $row['TongSoLuongXuat'] ?></div>
      <div class="col col-3" ><?php echo $row['SoLuongTonKho'] ?></div>
   
    </li>
  
    
  




    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
