{% extends 'base.html.twig' %}

{% block title %}
    Danh sách thuốc
{% endblock %}

{% block body %}

    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block-head nk-block-head-sm">
                        <div class="nk-block-between">
                            <div class="nk-block-head-content">
                                <h3 class="nk-block-title page-title">
                                    Thuốc
                                </h3>
                                <div class="nk-block-des text-soft">
                                    <p>
                                        Danh sách thuốc
                                    </p>
                                </div>
                            </div>

                            {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        
                        {% for message in app.flashes('update') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        
                            <div class="nk-block-head-content">
                                <div class="toggle-wrap nk-block-tools-toggle">
                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
                                        <em class="icon ni ni-more-v"></em>
                                    </a>
                                    <div class="toggle-expand-content" data-content="pageMenu">
                                        <ul class="nk-block-tools g-3">
                                            {# <li>
                                                <div class="form-control-wrap">
                                                    <div class="form-icon form-icon-right">
                                                        <em class="icon ni ni-search"></em>
                                                    </div>
                                                    <input type="text" class="form-control" id="default-04" placeholder="Quick search by name"></div>
                                                </li> #}
                                                <li>
                                                    {# <div class="drodown">
                                                        <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown">
                                                            <em class="d-none d-sm-inline icon ni ni-filter-alt"></em>
                                                            <span>
                                                                <span class="d-none d-md-inline"></span>
                                                                Filtered By
                                                                                                                                        
                                                            </span>
                                                            <em class="dd-indc icon ni ni-chevron-right"></em>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul class="link-list-opt no-bdr">
                                                                <li>
                                                                    <a href="#">
                                                                        <span>
                                                                            Alphabetically, A-Z
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <span>
                                                                            Alphabetically, Z-A
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <span>
                                                                            Best Selling
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div> #}
                                                </li>
                                                <li class="nk-block-tools-opt">
                                                    <a href="{{ path('them_thuoc_moi') }}" class="btn btn-icon btn-primary d-md-none">
                                                        <em class="icon ni ni-plus"></em>
                                                    </a>
                                                    <a href="{{ path('them_thuoc_moi') }}" class="btn btn-primary d-none d-md-inline-flex">
                                                        <em class="icon ni ni-plus"></em>
                                                        <span>
                                                            Add Medicine
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nk-block">
                        <div class="nk-block-between-md g-4">
    <!-- ... các phần khác ... -->
    <div class="nk-block-tools" id="pageMenu">
        <div class="nk-search-box">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm theo tên thuốc" id="searchMedicineInput">
            </div>
        </div>
    </div>
</div>

                            <div class="card card-bordered">
                                <div class="card-inner-group">
                                    <div class="card-inner p-0">
                                        <div class="nk-tb-list">
                                            <div class="nk-tb-item nk-tb-head">
                                                <div class="nk-tb-col nk-tb-col-check">
                                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                                        <input type="checkbox" class="custom-control-input" id="pid">
                                                            <label class="custom-control-label" for="pid"></label>
                                                        </div>
                                                    </div>
                                                    <div class="nk-tb-col">
                                                        <span>
                                                            Mã thuốc
                                                        </span>
                                                    </div>
                                                    {# <div class="nk-tb-col tb-col-lg">
                                                        <span>
                                                            Tên thường gọi
                                                        </span>
                                                    </div> #}
                                                    <div class="nk-tb-col tb-col-xxl">
                                                        <span>
                                                            Tên thuốc
                                                        </span>
                                                    </div>
                                                    {# <div class="nk-tb-col tb-col-lg">
                                                        <span>
                                                            Hàm lượng
                                                        </span>
                                                    </div> #}
                                                    <div class="nk-tb-col tb-col-sm">
                                                        <span>
                                                            Danh mục
                                                        </span>
                                                    </div>
                                                   
                                                    <div class="nk-tb-col">
                                                        <span>
                                                            Giá
                                                        </span>
                                                    </div>
                                                    {# <div class="nk-tb-col tb-col-xxl">
                                                        <span>
                                                            Giá nhà sản xuất
                                                        </span>
                                                    </div> #}
                                                      <div class="nk-tb-col tb-col-xxl">
                                                        <span>
                                                            Lô hàng
                                                        </span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-md">
                                                        <span>
                                                            Kho
                                                        </span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-xxl">
                                                        <span>
                                                            Ngày hết hạn
                                                        </span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-md">
                                                        <span class="sub-text">
                                                            Trạng thái
                                                        </span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        Trạng thái
                                                    </span>
                                                </div>
                                            </div>

                                            {% for row in result %}
                                            <div class="nk-tb-item">
                                                <div class="nk-tb-col nk-tb-col-check">
                                                    <div class="custom-control custom-control-sm custom-checkbox notext">
                                                        <input type="checkbox" class="custom-control-input" id="pid1">
                                                        <label class="custom-control-label" for="pid1"></label>
                                                    </div>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <a href="{{ path('chi_tiet_thuoc', { 'id': row.MedicineID }) }}">
                                                        <span class="tb-product">
                                                            <span class="title">
                                                                {{ row.MedicineID }}
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                {# <div class="nk-tb-col tb-col-lg">
                                                    <span>
                                                        {{ row.GenericName }}
                                                    </span>
                                                </div> #}
                                                <div class="nk-tb-col tb-col-xxl">
                                                    <span class="tb-sub">
                                                        {{ row.Name }}
                                                    </span>
                                                </div>
                                                {# <div class="nk-tb-col tb-col-lg">
                                                    <span>
                                                        {{ row.Concentration }}
                                                    </span>
                                                </div> #}
                                                <div class="nk-tb-col tb-col-sm">
                                                    <span>
                                                        {{ row.Category }}
                                                    </span>
                                                </div>
                                                <div class="nk-tb-col">
                                                    <span class="tb-amount">
                                                        {{ row.Price | number_format(0, '.', ',') }} VNĐ
                                                        <span class="currency">
                                                            đồng
                                                        </span>
                                                    </span>
                                                </div>
                                                {# <div class="nk-tb-col tb-col-xxl">
                                                    <span class="tb-amount">
                                                        {{ row.ManufacturerPrice | number_format(0, '.', ',') }} VNĐ
                                                        <span class="currency">
                                                            đồng
                                                        </span>
                                                    </span>
                                                </div> #}
                                                <div class="nk-tb-col tb-col-xxl">
                                                <span class="tb-date">
                                                    {{ row.LotNumber }}
                                                </span>
                                            </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span>
                                                        {{ row.InStock }}
                                                    </span>
                                                </div>
                                                <div class="nk-tb-col tb-col-xxl">
                                                    <span class="tb-date">
                                                        {{ row.ExpirationDate }}
                                                    </span>
                                                </div>
                                                <div class="nk-tb-col tb-col-md">
                                                    <span class="tb-status text-success">
                                                        Available
                                                    </span>
                                                </div>
                                                <div class="nk-tb-col tb-col-xxl">
                                                    <span class="tb-date">
                                                        <a href="#" class="btn btn-primary" onclick="openModal('{{ row.MedicineID }}', '{{ row.GenericName }}', '{{ row.Name }}', '{{ row.Concentration }}', '{{ row.Category }}', '{{ row.Price }}', '{{ row.ManufacturerPrice }}', '{{ row.InStock }}', '{{ row.ExpirationDate }}')">Sửa</a>
                                                        <a href="#" class="btn btn-danger" onclick="confirmDelete('{{ path('delete_medicine', {'id': row.MedicineID}) }}')">Xoá</a>
                                                    </span>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            
                                            <!-- Modal Form -->
                                            <div class="modal" id="editMedicineModal">
                                                <div class="modal-content">
                                                    <span class="close" onclick="closeModal()">&times;</span>
                                                    <div class="modal-body">
                                                        <h2>Chỉnh sửa thông tin thuốc</h2>
                                                        <form action="{{ path('edit_medicine', {'id': 'placeholder'}) }}" method="post" id="editMedicineForm">
                                                            <label for="medicineId">ID Thuốc:</label>
                                                            <input type="text" id="medicineId" name="medicineId" readonly>
                                            
                                                            <label for="medicineName">Tên thuốc</label>
                                                            <input type="text" id="medicineName" name="medicineName" >

                                                            <label for="medicineGenericName">Tên thường gọi</label>
                                                            <input type="text" id="medicineGenericName" name="medicineGenericName" >
                                            
                                                          
                                            
                                                            <label for="medicineConcentration">Nồng độ:</label>
                                                            <input type="text" id="medicineConcentration" name="medicineConcentration" >
                                            
                                                            <label for="medicineCategory">Danh mục:</label>
                                                            <input type="text" id="medicineCategory" name="medicineCategory" >
                                            
                                                            <label for="medicinePrice">Giá thuốc:</label>
                                                            <input type="number" id="medicinePrice" name="medicinePrice" >
                                            
                                                            <label for="medicineManufacturerPrice">Giá nhà sản xuất:</label>
                                                            <input type="number" id="medicineManufacturerPrice" name="medicineManufacturerPrice" >
                                            
                                                            <label for="medicineInStock">Số lượng tồn kho:</label>
                                                            <input type="number" id="medicineInStock" name="medicineInStock" >
                                            
                                                            <label for="medicineExpirationDate">Ngày hết hạn:</label>
                                                            <input type="date" id="medicineExpirationDate" name="medicineExpirationDate" >
                                            
                                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                                        </form>
                                            
                                                        <button type="button" class="btn btn-secondary" onclick="closeModal()">Hủy</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- JavaScript Function -->
                                            <script>
                                                function openModal(medicineId, medicineGenericName, medicineName, medicineConcentration, medicineCategory, medicinePrice, medicineManufacturerPrice, medicineInStock, medicineExpirationDate) {
                                                    var modal = document.getElementById('editMedicineModal');
                                                    var editMedicineForm = document.getElementById('editMedicineForm');
                                                    var medicineIdInput = document.getElementById('medicineId');
                                                    var medicineGenericNameInput = document.getElementById('medicineGenericName');
                                                    var medicineNameInput = document.getElementById('medicineName');
                                                    var medicineConcentrationInput = document.getElementById('medicineConcentration');
                                                    var medicineCategoryInput = document.getElementById('medicineCategory');
                                                    var medicinePriceInput = document.getElementById('medicinePrice');
                                                    var medicineManufacturerPriceInput = document.getElementById('medicineManufacturerPrice');
                                                    var medicineInStockInput = document.getElementById('medicineInStock');
                                                    var medicineExpirationDateInput = document.getElementById('medicineExpirationDate');
                                            
                                                    // Đặt giá trị của các trường nhập liệu trong modal
                                                    medicineIdInput.value = medicineId;
                                                    medicineGenericNameInput.value = medicineGenericName;
                                                    medicineNameInput.value = medicineName;
                                                    medicineConcentrationInput.value = medicineConcentration;
                                                    medicineCategoryInput.value = medicineCategory;
                                                    medicinePriceInput.value = medicinePrice;
                                                    medicineManufacturerPriceInput.value = medicineManufacturerPrice;
                                                    medicineInStockInput.value = medicineInStock;
                                                    medicineExpirationDateInput.value = medicineExpirationDate;
                                            
                                                    // Đặt đường dẫn của form dựa trên medicineId
                                                    editMedicineForm.action = '{{ path('edit_medicine', {'id': 'placeholder'}) }}'.replace('placeholder', medicineId);
                                            
                                                    modal.style.display = 'block';
                                                }
                                            
                                                function closeModal() {
                                                    var modal = document.getElementById('editMedicineModal');
                                                    modal.style.display = 'none';
                                                }
                                            </script>
                                            



                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div></div><div class="nk-add-product toggle-slide toggle-slide-right" data-content="addProduct" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
<div class="nk-block-head">
    <div class="nk-block-head-content">
        <h5 class="nk-block-title">
            New Product
        </h5>
        <div class="nk-block-des">
            <p>
                Add information and add new product.
            </p>
        </div>
    </div>
</div>
<div class="nk-block">
    <div class="row g-3">
        <div class="col-12">
            <div class="form-group">
                <label class="form-label" for="product-title">
                    Product Title
                </label>
                <div class="form-control-wrap">
                    <input type="text" class="form-control" id="product-title"></div>
                </div>
            </div>
            <div class="col-mb-6">
                <div class="form-group">
                    <label class="form-label" for="regular-price">
                        Regular Price
                    </label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="regular-price"></div>
                    </div>
                </div>
                <div class="col-mb-6">
                    <div class="form-group">
                        <label class="form-label" for="sale-price">
                            Sale Price
                        </label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" id="sale-price"></div>
                        </div>
                    </div>
                    <div class="col-mb-6">
                        <div class="form-group">
                            <label class="form-label" for="stock">
                                Stock
                            </label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="stock"></div>
                            </div>
                        </div>
                        <div class="col-mb-6">
                            <div class="form-group">
                                <label class="form-label" for="SKU">
                                    SKU
                                </label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="SKU"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label" for="category">
                                        Category
                                    </label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control" id="category"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="form-label" for="tags">
                                            Tags
                                        </label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="tags"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="upload-zone small bg-lighter my-2">
                                            <div class="dz-message">
                                                <span class="dz-message-text">
                                                    Drag and drop file
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary">
                                            <em class="icon ni ni-plus"></em>
                                            <span>
                                                Add New
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
         
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("searchMedicineInput").addEventListener("input", function () {
            var searchTerm = this.value.toLowerCase();

            // Ẩn tất cả các hàng
            var rows = document.querySelectorAll('.nk-tb-item');
            rows.forEach(function (row) {
                row.style.display = 'none';
            });

            // Hiển thị các hàng chứa tên thuốc chứa từ khóa tìm kiếm
            var matchingRows = document.querySelectorAll('.nk-tb-item span.tb-sub');
            matchingRows.forEach(function (matchingRow) {
                var medicineName = matchingRow.textContent.toLowerCase();
                if (medicineName.includes(searchTerm)) {
                    matchingRow.closest('.nk-tb-item').style.display = '';
                }
            });
        });
    });
</script>



<script>
function confirmDelete(url) {
    if (confirm('Bạn có chắc chắn muốn xóa không?')) {
        window.location.href = url;
    }
}
</script>
                    {% endblock %}
                    