{% extends 'base.html.twig' %}

{% block title %}
  Cài đặt nhân viên
{% endblock %}

{% block body %}
  <div class="nk-content">
    <div class="container-fluid">
      <div class="nk-content-inner">
        <div class="nk-content-body">
          <div class="nk-block">
            <div class="card card-bordered">
              <div class="card-aside-wrap">
                <div class="card-inner card-inner-lg">
                  <div class="nk-block-head nk-block-head-lg">
                    <div class="nk-block-between">
                      <div class="nk-block-head-content">
                        <h5 class="title fw-medium">Cài đặt nhân viên</h5>
                        <span>Trang cài đặt quyền truy cập trang cho nhân viên</span>
                        <span class="text-success"><em class="icon ni ni-shield-check"></em></span>
                      </div>
                      <div class="nk-block-head-content align-self-start d-lg-none">
                        <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                      </div>
                    </div>
                  </div>
                  <form action="{{ path('add_permission') }}" method="post">
                    <div class="form-group">
                      <div class="row g-gs">
                        <div class="col-md-6">
                          <label class="form-label">Chọn nhân viên</label>
                          <div class="form-control-wrap">
                            <select class="form-select js-select2" data-placeholder="You Can Select Multiple Users">
                              {% for user in result %}
                                <option value="{{ user.UserID }}">{{ user.FullName }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <span class="form-note text-success mt-1">!</span>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">Chọn quyền</label>
                          <div class="form-control-wrap">
                            <select class="form-select js-select2" name="permission_id">
                              {% for permission in permissions %}
                                <option value="{{ permission.PermissionID }}">{{ permission.PermissionName }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-primary">Thêm quyền</button>
                      <button type="submit" class="btn btn-danger" formaction="{{ path('delete_permission') }}">Xoá quyền</button>

                    </div>
                  </form>

                  {% for flashType, flashMessages in app.flashes %}
                    {% for flashMessage in flashMessages %}
                      <div class="alert alert-{{ flashType }}">{{ flashMessage }}</div>
                    {% endfor %}
                  {% endfor %}

                  <div class="nk-block card card-bordered mt-5">
                    <table class="table table-ulogs">
                      <thead class="thead-light">
                        <tr>
                          <th class="tb-col-os">
                            <span class="overline-title">Name</span>
                          </th>
                          <th class="tb-col-ip">
                            <span class="overline-title">Email address</span>
                          </th>
                          <th class="tb-col-time">
                            <span class="overline-title">Role</span>
                          </th>
                          <th class="tb-col-time">
                            <span class="overline-title">Joined on</span>
                          </th>
                          <th class="tb-col-action">
                            <span class="overline-title">&nbsp;</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in result %}
                          <tr>
                            <td class="tb-col-os">{{ user.FullName }}</td>
                            <td class="tb-col-ip">
                              <span class="sub-text">{{ user.Email }}</span>
                            </td>
                            <td class="tb-col-time">
                              <span class="sub-text">{{ user.PermissionNames }}</span>
                            </td>
                            <td class="tb-col-time">
                              <span class="badge badge-dim bg-warning">{{ user.CreatedDate|date('d M Y') }}</span>
                            </td>
                            <td class="tb-col-action">
                              <a href="#" class="link-cross me-sm-n1"><em class="icon ni ni-cross"></em></a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                  <div class="card-inner-group" data-simplebar>
                    <div class="card-inner">
                      <h3 class="nk-block-title page-title">Cài đặt</h3>
                      <div class="nk-block-des text-soft">
                        <p>Tại đây bạn có thể thay đổi và chỉnh sửa nhu cầu của mình</p>
                      </div>
                    </div>
                    <div class="card-inner p-0">
                      <ul class="link-list-menu">
                        <li>
                          <a href="{{ path('cai_dat') }}">
                            <em class="icon ni ni-setting-alt-fill"></em>
                            <span>Cài đặt chung</span>
                          </a>
                        </li>
                        <li>
                          <a class="active" href="{{ path('cai_dat_nhan_vien') }}">
                            <em class="icon ni ni-account-setting"></em>
                            <span>Nhân viên</span>
                          </a>
                        </li>
                        <li>
                          <a href="/demo7/pharmacy/email-settings.html">
                            <em class="icon ni ni-lock-alt-fill"></em>
                            <span>E-mail</span>
                          </a>
                        </li>
                        <li>
                          <a href="/demo7/pharmacy/security-settings.html">
                            <em class="icon ni ni-shield-star-fill"></em>
                            <span>Security</span>
                          </a>
                        </li>
                        <li>
                          <a href="/demo7/pharmacy/account-log.html">
                            <em class="icon ni ni-activity-round-fill"></em>
                            <span>Account activity</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
