<!DOCTYPE html>
<html class="darken-page">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        My Symfony App
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('css/dashlite.css') }}" />
    <link id="skin-default" rel="stylesheet" href="{{ asset('css/theme.css') }}" />
    <link id="skin-default" rel="stylesheet" href="{{ asset('css/thanhtoan.css') }}" />

    <link id="skin-default" rel="stylesheet" href="{{ asset('css/thanhtoan.css') }}" />
    <link id="skin-default" rel="stylesheet" href="{{ asset('css/popup.css') }}" />
    <link id="skin-default" rel="stylesheet" href="{{ asset('css/modal.css') }}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>

    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-91615293-4')
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha256-KJvaFtq21v7rBBd5TLb4lWhZNa9A5KZZEfu70Vgsd1A=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5qAmGA0qzGdIe89MKvA7o4EQQf5rF+yZI8" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha256-6OcgDxH5Kg6G5bJv9T0q1hqzr6IIK9L3gTyHPl5b+j0=" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"></script>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script src="{{ asset('js/demo-settings.js') }}"></script>
    <script src="{{ asset('js/editors.js') }}"></script>
    <script src="{{ asset('js/additem.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
  </head>
  <body class="nk-body ui-rounder npc-default has-sidebar no-touch nk-nio-theme modal-open">
    <div class="nk-app-root">
      <div class="nk-sidebar" data-content="sidebarMenu">
        <div class="nk-sidebar-bar">
          <div class="nk-apps-brand">
            <a href="/demo7/index.html" class="logo-link">
              <img class="logo-light logo-img" src="{{ asset('images/logo.png') }}" srcset="{{ asset('images/logo.png') }} 2x" alt="logo" />
              <img class="logo-dark logo-img" src="{{ asset('images/logo.png') }}" srcset="{{ asset('images/logo.png') }} 2x" alt="logo-dark" />
            </a>
          </div>
          <div class="nk-sidebar-element">
            <div class="nk-sidebar-body">
              <div class="nk-sidebar-content" data-simplebar>
                <div class="nk-sidebar-menu">
                  <ul class="nk-menu apps-menu">
                    <li class="nk-menu-item active">
                      <a href="#" class="nk-menu-link nk-menu-switch" data-target="navPharmacy"><span class="nk-menu-icon"><em class="icon ni ni-capsule"></em></span></a>
                    </li>
             

                   
                  </ul>
                </div>
                <div class="nk-sidebar-footer">
                  <ul class="nk-menu nk-menu-md apps-menu">
                    
                  </ul>
                </div>
              </div>
            
            </div>
          </div>
        </div>
        <div class="nk-sidebar-main">
          <div class="nk-sidebar-inner" data-simplebar>
            <div class="nk-menu-content menu-active" data-content="navPharmacy">
              <h5 class="title">Pharmacy</h5>
              <ul class="nk-menu">
                <li class="nk-menu-item">
                  <a href="{{ path('trang_chu') }}" class="nk-menu-link">
                    <span class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span>
                    <span class="nk-menu-text">Dashboard</span>
                  </a>
                </li>

                {% if is_granted('BanThuocAccess') or is_granted('AdminAccess') %}
                  <li class="nk-menu-item has-sub">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                      <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
                      <span class="nk-menu-text">Khách hàng</span>
                    </a>
                    <ul class="nk-menu-sub">
                      {% if is_granted('BanThuocAccess') or is_granted('AdminAccess') %}
                        <li class="nk-menu-item">
                          <a href="{{ path('them_khach_hang') }}" class="nk-menu-link"><span class="nk-menu-text">Bán thuốc</span></a>
                        </li>
                        <li class="nk-menu-item">
                          <a href="{{ path('don_dat_hang') }}" class="nk-menu-link"><span class="nk-menu-text">Đơn đặt online</span></a>
                        </li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}

                {% if is_granted('QuanLyKhachHangAccess') or is_granted('AdminAccess') or is_granted('BanThuocAccess') or is_granted('NhapHangAccess') %}
                <li class="nk-menu-item has-sub">
                  <a href="#" class="nk-menu-link nk-menu-toggle">
                    <span class="nk-menu-icon"><em class="icon ni ni-capsule-fill"></em></span>
                    <span class="nk-menu-text">Thuốc</span>
                  </a>
                  <ul class="nk-menu-sub">
                  {% if is_granted('BanThuocAccess') %}
                
                  <li class="nk-menu-item">
                    <a href="{{ path('them_thuoc_moi') }}" class="nk-menu-link"><span class="nk-menu-text">Thêm thuốc mới</span></a>
                  </li>
                {% endif %}
                    {% if is_granted('NhapHangAccess') or is_granted('AdminAccess') %}
                      <li class="nk-menu-item">
                        <a href="{{ path('nhap_thuoc') }}" class="nk-menu-link"><span class="nk-menu-text">Nhập thuốc</span></a>
                      </li>
                     
                    {% endif %}
                    {% if is_granted('BanThuocAccess') or is_granted('AdminAccess') %}
                      <li class="nk-menu-item">
                        <a href="{{ path('danh_sach_thuoc') }}" class="nk-menu-link"><span class="nk-menu-text">Danh sách thuốc</span></a>
                      </li>
                    {% endif %}
                    {% if is_granted('QuanLyKhachHangAccess') or is_granted('AdminAccess') or is_granted('BanThuocAccess') %}
                      <li class="nk-menu-item">
                        <a href="{{ path('danh_sach_khach_hang') }}" class="nk-menu-link"><span class="nk-menu-text">Danh sách khách hàng</span></a>
                      </li>
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
              

                {% if is_granted('BaoCaoTaiChinhAccess') or is_granted('AdminAccess') %}
                  <li class="nk-menu-item has-sub">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                      <span class="nk-menu-icon"><em class="icon ni ni-home-fill"></em></span>
                      <span class="nk-menu-text">Nhà sản xuất</span>
                    </a>
                    <ul class="nk-menu-sub">
                      <li class="nk-menu-item">
                        <a href="{{ path('danh_sach_nha_san_xuat') }}" class="nk-menu-link"><span class="nk-menu-text">Danh sách nhà sản xuất</span></a>
                      </li>
                    </ul>
                  </li>
                {% endif %}

                {% if is_granted('AdminAccess') or is_granted('BaoCaoTaiChinhAccess') %}
                  <li class="nk-menu-item has-sub">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                      <span class="nk-menu-icon"><em class="icon ni ni-user-circle-fill"></em></span>
                      <span class="nk-menu-text">Quản lý nhân sự</span>
                    </a>
                    <ul class="nk-menu-sub">
                      {% if is_granted('BaoCaoTaiChinhAccess') or is_granted('AdminAccess') %}
                        <li class="nk-menu-item">
                          <a href="{{ path('danh_sach_nhan_vien') }}" class="nk-menu-link"><span class="nk-menu-text">Danh sách nhân viên</span></a>
                        </li>

                      {% endif %}
                    </ul>
                  </li>
                {% endif %}

                {% if is_granted('AdminAccess') or is_granted('BaoCaoTaiChinhAccess') %}
                  <li class="nk-menu-item has-sub">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                      <span class="nk-menu-icon"><em class="icon ni ni-coin-alt-fill"></em></span>
                      <span class="nk-menu-text">Tài chính</span>
                    </a>
                    <ul class="nk-menu-sub">
                      {% if is_granted('BaoCaoTaiChinhAccess') or is_granted('AdminAccess') %}
                        <li class="nk-menu-item">
                          <a href="{{ path('nguon_thu') }}" class="nk-menu-link"><span class="nk-menu-text">Nguồn thu</span></a>
                        </li>
                        <li class="nk-menu-item">
                          <a href="{{ path('chi_phi') }}" class="nk-menu-link"><span class="nk-menu-text">Chi phí</span></a>
                        </li>
                        <li class="nk-menu-item">
                      <a href="{{ path('luong') }}" class="nk-menu-link"><span class="nk-menu-text">Lương</span></a>
                    </li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}

                {% if is_granted('NhapHangAccess') or is_granted('AdminAccess') %}
                  <li class="nk-menu-item has-sub">
                    <a href="#" class="nk-menu-link nk-menu-toggle">
                      <span class="nk-menu-icon"><em class="icon ni ni-activity-round-fill"></em></span>
                      <span class="nk-menu-text">Báo cáo</span>
                    </a>
                    <ul class="nk-menu-sub">
                      <li class="nk-menu-item">
                        <a href="{{ path('bao_cao_ban_hang') }}" class="nk-menu-link"><span class="nk-menu-text">Báo cáo bán hàng</span></a>
                      </li>
                      <li class="nk-menu-item">
                        <a href="{{ path('bao_cao_mua_hang') }}" class="nk-menu-link"><span class="nk-menu-text">Báo cáo mua hàng</span></a>
                      </li>
                      <li class="nk-menu-item">
                        <a href="{{ path('bao_cao_ton_kho') }}" class="nk-menu-link"><span class="nk-menu-text">Báo cáo tồn kho</span></a>
                      </li>
                    </ul>
                  </li>
                {% endif %}

                {% if is_granted('AdminAccess') %}
                  <li class="nk-menu-item">
                    <a href="{{ path('cai_dat_nhan_vien') }}" class="nk-menu-link">
                      <span class="nk-menu-icon"><em class="icon ni ni-setting-fill"></em></span>
                      <span class="nk-menu-text">Cài đặt</span>
                    </a>
                  </li>
                {% endif %}
                <li class="nk-menu-item">
                  <a href="{{ path('cham_cong') }}" class="nk-menu-link">
                    <span class="nk-menu-icon"><em class="icon ni ni-activity"></em></span>
                    <span class="nk-menu-text">Chấm công</span>
                  </a>
                </li>
                    <li class="nk-menu-item">
                  <a href="{{ path('dang_xuat') }}" class="nk-menu-link">
                    <span class="nk-menu-icon"><em class="icon ni ni-user-circle-fill"></em></span>
                    <span class="nk-menu-text">Đăng xuất</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nk-main">
      <div class="nk-wrap">
        <div class="nk-header nk-header-fixed nk-header-fluid">
          <div class="container-fluid">
            <div class="nk-header-wrap">
              <div class="nk-menu-trigger d-xl-none ml-n1">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
              </div>
              <div class="nk-header-brand d-xl-none">
                <a href="/demo7/index.html" class="logo-link">
                  <img class="logo-light logo-img" src="{{ asset('images/logo.png') }}" srcset="{{ asset('images/logo.png') }} 2x" alt="logo" />
                  <img class="logo-dark logo-img" src="{{ asset('images/logo.png') }}" srcset="{{ asset('images/logo.png') }} 2x" alt="logo-dark" />
                </a>
              </div>
       
            </div>
          </div>
        </div>
        <br /><br /><br />
        <div class="content">
          {% block body %}

          {% endblock %}
        </div>

        <footer>
          <!-- Your footer content goes here -->
        </footer>
      </div>
    </div>
  </body>
</html>
