{% extends 'base.html.twig' %}

{% block title %}Đăng ký{% endblock %}

{% block body %}

  <body class="nk-body ui-rounder npc-default pg-auth">
        <div class="nk-app-root">
            <div class="nk-main ">
                <div class="nk-wrap nk-wrap-nosidebar">
                    <div class="nk-content ">
                        <div class="nk-split nk-split-page nk-split-lg">
                            <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white w-lg-45">
                                <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                    <a href="#" class="toggle btn btn-white btn-icon btn-light" data-target="athPromo">
                                        <em class="icon ni ni-info"></em>
                                    </a>
                                </div>
                                <div class="nk-block nk-block-middle nk-auth-body">
                                    <div class="brand-logo pb-5">
                                        <a href="/demo7/index.html" class="logo-link">
                                            <img class="logo-light logo-img logo-img-lg" src="{{ asset('images/logo.png') }}" srcset="{{ asset('images/logo.png') }} 2x" alt="logo">
                                            <img class="logo-dark logo-img logo-img-lg" src="{{ asset('images/logo.png') }}" srcset="{{ asset('images/logo.png') }} 2x" alt="logo-dark">
                                        </a>
                                    </div>
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">Đăng ký</h5>
                                            <div class="nk-block-des">
                                                <p>Tạo tài khoản mới</p>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="">
                                        <div class="form-group">
                                            <label class="form-label" for="name">Tên đầy đủ</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control form-control-lg" id="name" name="HoTen" placeholder="Họ và tên">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="email">Tài khoản</label>
                                            <div class="form-control-wrap">
                                                <input type="text" class="form-control form-control-lg" id="email" name="TaiKhoan" placeholder="Tên đăng nhập">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="password">Mật khẩu</label>
                                            <div class="form-control-wrap">
                                                <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                                                    <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                    <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                                </a>
                                                <input type="password" class="form-control form-control-lg" id="password" name="MatKhau" placeholder="Nhập mật khẩu">
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <button class="btn btn-lg btn-primary btn-block">Đăng ký</button>
                                        </div>
                                    </form>
                                    <div class="form-note-s2 pt-4">
                                        Đã có tài khoản ? 
                                        <a href="{{ path('dang_nhap')}}">
                                            <strong>Đăng nhập ở đây</strong>
                                        </a>
                                    </div>
                                </div>  
                            </div>


                            <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-toggle-body="true" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                                <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                                    <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                                        <div class="slider-item">
                                            <div class="nk-feature nk-feature-center">
                                                <div class="nk-feature-img">
                                                    <img class="round" src="/demo7/images/slides/promo-a.png" srcset="/demo7/images/slides/promo-a2x.png 2x" alt="">
                                                </div>
                                                <div class="nk-feature-content py-4 p-sm-5">
                                                    <h4>Dashlite</h4>
                                                    <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-item">
                                            <div class="nk-feature nk-feature-center">
                                                <div class="nk-feature-img">
                                                    <img class="round" src="/demo7/images/slides/promo-b.png" srcset="/demo7/images/slides/promo-b2x.png 2x" alt="">
                                                </div>
                                                <div class="nk-feature-content py-4 p-sm-5">
                                                    <h4>Dashlite</h4>
                                                    <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider-item">
                                            <div class="nk-feature nk-feature-center">
                                                <div class="nk-feature-img">
                                                    <img class="round" src="/demo7/images/slides/promo-c.png" srcset="/demo7/images/slides/promo-c2x.png 2x" alt="">
                                                </div>
                                                <div class="nk-feature-content py-4 p-sm-5">
                                                    <h4>Dashlite</h4>
                                                    <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider-dots"></div>
                                    <div class="slider-arrows"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        
               
      
        
       
       
        </a>
        <script src="/demo7/assets/js/bundle.js?ver=3.2.3"></script>
        <script src="/demo7/assets/js/scripts.js?ver=3.2.3"></script>
        <script src="/demo7/assets/js/demo-settings.js?ver=3.2.3"></script>
        <div class="modal fade" tabindex="-1" role="dialog" id="region">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-bs-dismiss="modal">
                        <em class="icon ni ni-cross-sm"></em>
                    </a>
                    <div class="modal-body modal-body-md">
                        <h5 class="title mb-4">Select Your Country</h5>
                        <div class="nk-country-region">
                            <ul class="country-list text-center gy-2">
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/arg.png" alt="" class="country-flag">
                                        <span class="country-name">Argentina</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/aus.png" alt="" class="country-flag">
                                        <span class="country-name">Australia</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/bangladesh.png" alt="" class="country-flag">
                                        <span class="country-name">Bangladesh</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/canada.png" alt="" class="country-flag">
                                        <span class="country-name">
                                            Canada <small>(English)</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/china.png" alt="" class="country-flag">
                                        <span class="country-name">Centrafricaine</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/china.png" alt="" class="country-flag">
                                        <span class="country-name">China</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/french.png" alt="" class="country-flag">
                                        <span class="country-name">France</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/germany.png" alt="" class="country-flag">
                                        <span class="country-name">Germany</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/iran.png" alt="" class="country-flag">
                                        <span class="country-name">Iran</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/italy.png" alt="" class="country-flag">
                                        <span class="country-name">Italy</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/mexico.png" alt="" class="country-flag">
                                        <span class="country-name">México</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/philipine.png" alt="" class="country-flag">
                                        <span class="country-name">Philippines</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/portugal.png" alt="" class="country-flag">
                                        <span class="country-name">Portugal</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/s-africa.png" alt="" class="country-flag">
                                        <span class="country-name">South Africa</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/spanish.png" alt="" class="country-flag">
                                        <span class="country-name">Spain</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/switzerland.png" alt="" class="country-flag">
                                        <span class="country-name">Switzerland</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/uk.png" alt="" class="country-flag">
                                        <span class="country-name">United Kingdom</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="/demo7/images/flags/english.png" alt="" class="country-flag">
                                        <span class="country-name">United State</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</html>


{% endblock %}
