{% extends 'base.html.twig' %}

{% block title %}Thêm thuốc mới{% endblock %}

{% block body %}

<div class="nk-content ">
                        <div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">Thêm thuốc</h3>
                                                <div class="nk-block-des text-soft">
                                                    <p>Bạn có thể thêm một loại thuốc bằng cách điền vào các trường này.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="card card-bordered">
                                            <div class="card-inner">


                                            <form method="post" action="{{ path('them_thuoc_moi') }}" enctype="multipart/form-data">
                                            <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-label">Hình ảnh</label>
                                                <input type="file" class="form-control" name="imageFile">
                                            </div>
                                        </div>
                                        
                                                <div class="row gy-4">
                                                    <div class="col-xxl-3 col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name">Tên thuốc</label>
                                                            <input type="text" class="form-control" id="name" placeholder="Medicine Name" name="MedicineName" >
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-3 col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="generic">Tên thường gọi</label>
                                                            <input type="text" class="form-control" id="generic" name="GenericName" placeholder="Generic Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-3 col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="sKU">Mã thuốc</label>
                                                            <input type="text" class="form-control" id="sKU" name="SKU"  placeholder="SKU">
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-3 col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="weight">Hàm lượng</label>
                                                            <input type="text" class="form-control" name="Concentration" id="weight" placeholder="Weight">
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-3 col-md-4">
                                                        <div class="form-group">
                                                    <label class="form-label">Danh mục</label>
                                                    <div class="form-control-wrap">


                                                    <select class="form-select js-select2" name="Category">
                                                        <option value="default_option">Chọn</option>
                                                        {% for category in categories %}
                                                            <option value="{{ category.Category }}">{{ category.Category }}</option>
                                                        {% endfor %}
                                                    </select>
                                            

                                                    </div>
                                                    
                                                    
                                                        </div>
                                                    </div>
                                                 
                                                    
                                                    <div class="col-xxl-3 col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="manufacturer Price">Giá của nhà sản xuất</label>
                                                            <input type="number" class="form-control" id="manufacturer Price" name="ManufacturerPrice" placeholder="Manufacturer Price" >
                                                        </div>
                                                    </div>
                                                 
                                                    <div class="col-xxl-3 col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-label">Ngày hết hạn</label>
                                                            <div class="form-control-wrap">
                                                                <div class="form-icon form-icon-right">
                                                                    <em class="icon ni ni-calendar"></em>
                                                                </div>
                                                                <input type="text" class="form-control date-picker" name="ExpirationDate" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-3 col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-label">Trạng thái</label>
                                                            <div class="form-control-wrap">
                                                                <select class="form-select js-select2">
                                                                    <option value="">select</option>
                                                                    <option value="Active">Active</option>
                                                                    <option value="Inactive">Inactive</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="bio">Mô tả thuốc</label>
                                                            <div class="form-control-wrap">
                                                                <div class="quill-basic">
                                                                    <input type="text" class="form-control" id="item" name="Description" placeholder="item" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="form-label">Thêm bằng file Excel</label>
                                                        <input type="file" class="form-control" name="excelFile">
                                                    </div>
                                                </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                    <button type="submit" name="submitType" value="excel" class="btn btn-primary">Thêm Thuốc</button>
                                                </div>
                                                    <a href="{{ path('download_excel_template') }}" class="btn btn-success" download="Dulieumau.xlsx">Tải về dữ liệu mẫu</a>
                                                </div>
                                                </div>
                                                

                                            </form>


                                            {% for flashMessage in app.session.flashBag.get('success') %}
                                            <div class="alert alert-success">
                                                {{ flashMessage }}
                                            </div>
                                        {% endfor %}
                                        <div class="col-12">
                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
    $(document).ready(function() {
        $('.js-select2').select2({
            tags: true, // Cho phép nhập giá trị mới
        });
    });
</script>

{% endblock %}
